*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-fluid{
    display: flex;
    margin-top:100px;
}
.col-6{
}
.col-6 h1{
    color: black;
    font-size: 55px;
}
.col-6 p{
    color: gray;
}
.btn button{
    width: 90px;
    height: 40px;
    border: none;
    border: 1px solid black;
    border-radius: 8px;
}
.btn button:hover{
    background-color: blue;
    color: white;
    transition: .3s;
}
.col-6 img{
    width: 100%;
}
